### Site Settings ###
title               : nhathomongmo
description         : >-
                      i  = 0x5f3759df - ( i >> 1 );
baseurl             : "/nhathomongmo"                     # Change to empty quotes if you are hosting your site at <your-username>.github.io directly
#repository          : dungnv0696/nhathomongmo     # Change to <your-username>/<your-username>.github.io (or remove it if you don't need remote projects)
#remote_theme        : dungnv0696/nhathomongmo
open_new_tab        : false                             # Opens external URLs in new tab (works for posts, projects and navbar only)


### Plugins ###
plugins:
  - jemoji


### Navbar Settings ###
nav_exclude:                                            # The following paths are excluded from navbar
  - pages/tags.html
  - pages/404.html
  - pages/index.md


### Author Info ###
author:
  name              : Nguyễn Việt Dũng
  image             : https://www.memesmonkey.com/images/memesmonkey/1e/1eb9aaea652db843e126089e7c41e4d2.jpeg
# behance           : your_username
# dribbble          : your_username
  email             : dungnv0696@gmail.com
  facebook          : profile.php?id=100054599030390
  github            : dungnv0696
# gitlab            : your_username
# instagram         : your_username
# kaggle            : your_username
  linkedin          : dungnv98
#  medium            : your_username
# soundcloud        : your_username
# spotify           : your_username
# stackoverflow     : your_user_id
# tumblr            : your_username.tumblr.com
# twitch            : your_username
# twitter           : your_username
# vimeo             : your_username
# youtube           : your_channel_name
# keybase           : your_username


### Posts ###
permalink: /blog/:title


### Collections ###
collections:
  projects:
    output: true
    permalink: /projects/:name


### Disqus ###
disqus:
  shortname: nhathomongmo                     # Your website Shortname on disqus


### Analytics ###
analytics:
  enabled: false                                        # Set true to enable analytics
  google:
    tracking_id: your-google-tracking-id


### Buy me a coffee ###
# See https://www.buymeacoffee.com/
buymeacoffee:
  enabled: false
  username: your_username
  color: "#007bff"
  message: "Thank you for visiting."                    # Message to be displayed aside from the button for a few seconds.
  description: "Support me on Buy me a coffee!"


### Defaults for collections ###
defaults:
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "page"
  - scope:
      path: ""
      type: "posts"
    values:
      comments: true                                   # Set to true to enable disqus comments


### Exclude from processing ###
exclude:
  - README.md
  - CONTRIBUTING.md
  - LICENSE
  - "*.log"
